<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="generalConnection" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=1;Database=elf_test_db;"
      providerName="Npgsql.Provider" />
    <add name="PoolServer.Properties.Settings.ConnectionString" connectionString="Server=localhost;Port=5432;User Id=postgres;Password=1;Database=elf_test_db;" />
    <add name="domovoyDBConnection" connectionString="User=SYSDBA;Password=masterkey;Database=C:/Users/ikhromov/Desktop/Domovoy_prj/4rmd.gdb;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=30;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0" />
  </connectionStrings>
  <appSettings>
    <add key="b_poll_current" value="True" />
    <add key="ts_current_period" value="00:30:00" />
    <add key="b_poll_day" value="True" />
    <add key="b_poll_month" value="True" />
    <add key="b_poll_hour" value="True" />
    <add key="b_poll_halfanhour" value="True" />
    <add key="b_poll_archive" value="True" />
  </appSettings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0" newVersion="2.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>