<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="pollSettingsGroup">
      <section name="doPollSection" type="System.Configuration.NameValueSectionHandler,System" />
      <section name="pollSettingsSection" type="System.Configuration.NameValueSectionHandler,System" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="generalConnection"
     providerName="Npgsql.Provider"
     connectionString="Server=localhost;Port=5432;User Id=postgres;Password=1;Database=elf_test_db;" />
  </connectionStrings>
  <pollSettingsGroup>
    <doPollSection>
      <add key="poll_current" value="true" />
      <add key="poll_day" value="true" />
      <add key="poll_month" value="true" />
      <add key="poll_hour" value="true" />
      <add key="poll_halfanhour" value="true" />
      <add key="poll_archive" value="true" />
    </doPollSection>
    <pollSettingsSection>
      <add key="poll_current_period" value="00:30:00" />
    </pollSettingsSection>
  </pollSettingsGroup>
</configuration>