<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="generalConnection"
     providerName="Npgsql.Provider"
     connectionString="Server=localhost;Port=5432;User Id=postgres;Password=1;Database=prizmer;" />
  </connectionStrings>
  <appSettings>
    <add key="b_poll_current" value="true" />
    <add key="ts_current_period" value="00:30:00" />
    
    <add key="b_poll_day" value="true" />
    <add key="b_poll_month" value="true" />
    <add key="b_poll_hour" value="true" />
    <add key="b_poll_halfanhour" value="true" />
    <add key="b_poll_archive" value="true" />
  </appSettings>
</configuration>